<!DOCTYPE html>
<html lang="en">
<head>
<link href="../../../public/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form action="/login" method="POST" class="form-signin">
        <h3>Hello! Welcome to the Somi Pet Manager.</h3>
        <p>Please Login or Register to continue!</p>
        <div>
            <label for="email" class="sr-only">Email</label>
            <input type="email" name="email" placeholder="Email address" required autofocus/>
        </div>
        <div>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" placeholder="Password" required/>
        <br>
        </div>
        <br>
        <button type="submit" value="Submit">Log In</button>
        <button type="reset" value="Reset">Reset</button>
    <!-- </form>
    <form action="/register" method="get"> -->
        <button onclick="location.href='/register'" type="button">Register</button>
    </form>
</body>

</html>