<!DOCTYPE html>
<html>

<body>
    <h3>Welcome to Show Me The Money All Star Generator</h3>
    <p>Who is in your All Star lineup? Login or Register to continue!</p>
    <form action="/login" method="POST">
        <li>
            <label for="email">Email</label>
            <input type="text" name="email" />
        </li>
        <br>
        <li>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </li>
        <br>
        <button type="submit" value="Submit">Log In</button>
        <button type="reset" value="Reset">Reset</button>
    <!-- </form>
    <form action="/register" method="get"> -->
        <button onclick="location.href='/register'" type="button">Register</button>
    </form>
</body>

</html>