<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="../../../public/css/signin.css" rel="stylesheet">
    </head>

    <div class="text-center">
        <form action="/register" method="POST"></form>
            <h3>Register your account today!</h3>
            <p>Create an account to start tracking your pets' development alongside this app's development. Let's grow together!</p>
        <div>
            <label for="name" class="sr-only">Name</label>
            <input id="name" type="text" name="name" placeholder="Preferred Name" required autofocus/>
        </div>
        <div>
            <label for="email" class="sr-only">Email</label>
            <input id="email" type="email" name="email" placeholder="Email Address" required/>
        </div>
        <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" type="password" name="password" placeholder="Password" required/>
        </div>
        <div>
            <label for="password" class="sr-only">Retype Password</label>
            <input id="confirm_password" type="password" placeholder="Retype Password" name="password" required/>
        </div>
        <br>
        <button type="submit" value="submit">Register</button>
        <button type="reset" value="Reset">Reset</button>
        </form>
    </div>
</html>