<h1>Create a new account here</h1>
<form action="/register" method="POST">
<li>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
</li>
<li>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" />
</li>
<li>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" />
</li>
<li>
    <label for="password">Re-enter Password</label>
    <input id="confirm_password" type="password" name="password" />
</li>
<input type="submit" value="Sign Up" />
</form>