<title> Show Me The Money - All Stars - My Dashboard</title>

<h2 class="reroute-text">Welcome <%=current_user.name.capitalize%>!</h2>
    <div class="grid-container">
        <div class="lineups_list">
            <h3>Your Lineups</h3>
        </div>
        <div class="artists_list">
            <h3>Your Artists</h3>
        </div>
        <div class="user_account">
            <h3>Your Account</h3>
        </div>
    </div>