<h2>New SMTM All Star Lineup</h2>
<form action="/lineups" method="POST">


<label for="lineup_name">All Star Lineup Name:</label>
<input type="name" name="name" id="name" required>
<div class="description">
    <p>
        To add artists who haven't appeared on the show, please go <a href="/artists/new">here</a> first! Create your artists there and then come back to select them in the drop downs below. Want to know more about the artists in the list? Click Artists in the navigation.
    </p>
</div>

<div class="artist_selection" required>

    <li><label for="artist_pick1">First Selection:</label>
        <select id="selections" name="lineup" multiple=> true>
            <% @artists.all.collect do |artist| %>
                <option value="<%=artist.id%>">
                    <%= artist.name %>- <%= artist.season %> - <%=artist.placed %>
                </option>
                <% end %>
        </select>


    </div>

        <button type="submit" value="Submit">Save Lineup</button>
        <button type="reset" value="Reset">Reset</button>
</form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script type="text/javascript">
        function removeOption() {
            $("#artist_box option[value='optionValue']").remove();
        }
    </script>
