<h2>New SMTM All Star Lineup</h2>
<form action="/lineups/new" method="POST">

    <label for="name">Name:</label>
    <input type="name" name="name">


    <select name="changeme">
        <% @rapper.each do |rapper| %>
          <option value="<%=rapper.id%>"><%= rapper.name %></option>
                <% end %>
    </select>




        <button type="submit" value="Submit">Save Lineup</button>
        <button type="reset" value="Reset">Reset</button>
</form>