<!DOCTYPE html>
<html>

<body>
    <h3>SOMETHING WENT WRONG!!</h3>
    <h4>Oh no, our sincerest apologizes. Our bird brains allowed the animals to take off with our page! While we go play fetch, please click the <a href="/">Home</a> or <a href="/users/show">Dashboard</a> to continue.</h4>
</body>

</html>