<!DOCTYPE html>
<html>

<body>
    <div class="text-center">
    <h3>Welcome to Somi's Pet Manager!</h3>
    <p>This site is here to keep track of your pets profile and medical conditions. We are small kittens now but we dream of playing with the big dogs one day so come join us today on that journey!</p>
    </div>
    <br>
        <img src="../../public/img/dog-1532627_640.png">
    <br>
    <div>
    <h4>Recommended Pet Resources</h4>
        <ul>
            <li><a href="https://bestfriends.org/pet-care-resources" >BestFriends.org - Pet Care Resources</a><br>
                <p>Best Friends Animal Society, a national non-profit deticated to reaching a no-kill status on all shelters nationwide. This link will take you to the Resources page for you pet care questions.</p>
            </li>
            <li><a href="https://www.aspca.org/adopt-pet/adoption-tips">ASPCA.org - Pet Adoption Tips</a><br>
                <p>American Society for the Prevention of Cruelty to Animals, called the first humane society in North America, provided these tips on adopting a new woof woof or meow meow...even a neigh!</p>
            </li>

        </ul>
        </div>
</body>

</html>