<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

        <title>Show Me The Money - All Stars</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Styles-->
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <style>
            body {
                padding-top: 60px;
                /* When using the navbar-top-fixed */
            }

            .center {
                float: none;
                margin-left: auto;
                margin-right: auto;
            }

            .centercontents {
                text-align: center !important;
            }

            .alignrightcontents {
                text-align: right !important;
            }
        </style>
    </head>
    <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/home">Show Me The Money</a>
                    <div class="nav-item">
                        <ul class="nav">
                                <a href="/login">Login</a>
                            <a href="/logout">Logout</a>
                            <a href="/pets">Pets</a>

                        </ul>
                    </div><!-- /.nav-collapse -->
                </div><!-- /.container -->
            </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
    </nav>

        <%= yield %>

    <!-- Bootstrap jQuery Plugins-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>


    <footer class="footer">
        <small>&copy; 2021 <strong>Made by Somi</strong></small>
    </footer>
</html>